@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }

  .dark body {
    background-color: var(--color-gray-900);
    color: var(--color-gray-100);
  }
}


